@using DiabetesNoteBook.Application.DTOs
@model DTOEmailNotification

<!DOCTYPE html>
<html>
<head>
    <title>Notificacion de cambio de email</title>
</head>
<body>
    <p>Para restablecer su contraseña, haga clic en el siguiente enlace:</p>
    <p><spam>Su email a cambiado a </spam>@Model.NewEmail</p>
</body>
</html>