.loging {
  position: relative;
  top: 4rem;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.hidden {
  display: none;
}
.logotipo {
  position: relative;
  left: 2rem;
}
.slider {
  position: relative;
  left: 2rem;
  top: 4rem;
}
.loging-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: "Atkinson-Hyperlegible-Regular"; */
}
.loging-form img {
  width: 50%;
}


@media (width < 900px) {
  .loging-slider {
    display: none;
  }
  .logotipo{
    width: 100%;
    display: inline-block;
  }
  .hidden{
    display: block;
  }
}