<div class="wrapper">

    <div class="header">
        <h1>Tus medicamentos</h1>
        <p>Selecciona uno de tus medicamentos registrados para obtener más información</p>

        <form class="nuevoMedicamento" (ngSubmit)="addMedicamento()" >
           <input type="text" [(ngModel)]='nuevoMedicamento' name='nuevoMedicamento'>
            <button type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                Añadir medicamento
            </button>
        </form>
    </div>

    <div class="form">
        <div class="form-group">
            <label for="medicamento">Lista medicamentos</label>
            <select class='form-select' name="listaMedicamentos" id="listaMedicamentos" [(ngModel)]='medicamentoSeleccionado' name="medicamentoSeleccionado" (change)='medicamentoChange()'>
                <option class='form' selected >Selecciona un medicamento</option>
                <option class='form' *ngFor="let med of medicamentosFromBackend" > {{med}}</option>
            </select>
        </div>
        <div class="form-group">
          <input type="checkbox" id="Receta" [(ngModel)]="Receta">
          <label for="sinReceta">Necesita Receta</label>
      </div>
  
      <div class="form-group">
          <input type="checkbox" id="genericos" [(ngModel)]="Genericos">
          <label for="genericos"> Solo Genéricos</label>
      </div>
  
        
    </div>



<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Laboratorio</th>
        <th scope="col">Suministracion</th>
        <th scope="col">¿Generico?</th>
        <th scope="col">¿Receta?</th>
        <th scope="col">Forma</th>
        <th scope="col">Caja</th>
        <th scope="col">Prospecto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let med of (medicamentosArray | filtroSinReceta: Receta | filtroGenericos:Genericos)">        
        <th >{{med.nombre}}</th>
        <td>{{med.labtitular}}</td>
        <td>{{med.formaFarmaceuticaSimplificada.nombre}}</td>
        <td>
          <p *ngIf="med.generico == true"  class="text-warning"> Si</p>
          <p *ngIf="med.generico == false "  class="text-secondary"> No</p>
        
        
        </td>
        <td><i *ngIf="med.receta == true"  class="bi bi-prescription2 text-success"></i>
          <i *ngIf="med.receta == false "  class="bi bi-r-square-fill text-secondary"></i>
        </td>
        <td>
            <img *ngIf="med.fotos && med.fotos[1]" [src]="med.fotos[1].url" alt="Foto de la forma farmacéutica">
            <i *ngIf="!med.fotos || !med.fotos[1]" class='bi bi-capsule-pill text-danger'></i>
        </td>
        <td>
            <img *ngIf="med.fotos && med.fotos[0]" [src]="med.fotos[0].url" alt="Foto de la caja">
            <i *ngIf="!med.fotos || !med.fotos[1]"  class="bi bi-box-seam text-danger" ></i>
          </td>
        <td>
            <a *ngIf="med.docs && med.docs.length > 0" [href]="med.docs[0].url" target="_blank">
              <i class="bi" [ngClass]="med.docs[0].url ? 'bi-file-text' : 'bi-file-earmark'"></i>
            </a>
            <i *ngIf="!med.docs || med.docs.length === 0" class="bi bi-file-earmark"></i>
          </td>
          
      </tr>
    </table>
</div>