<div class="navbar">
    <img src="https://api.dicebear.com/7.x/miniavs/svg?blushes=default&blushesProbability=39&bodyColor=d96bd6&eyes=confident&glasses=normal&glassesProbability=10&hair=long&hairColor=f64ba7&head=wide&mouth=default&mustache=freddy&mustacheProbability=29&skin=836055&backgroundColor=9ea803"
        alt="avatar">
    <div class="nombre">
        <p>Nombre</p>
        <p>Apellidos</p>
    </div>

    <div class="menu">
        <ul>
            <li><a routerLink='nuevoRegistro'>Nuevo Registro</a></li>
            <li><a routerLink="misDatos">Mis Datos</a></li>
            <li><a routerLink="registrosAnteriores"></a>Registros Anteriores</li>
            <li><a routerLink="ayuda"></a>Ayuda</li>
        </ul>

    </div>

    <button class='desconectar btn btn-primary'>Desconectar</button>
</div>