.avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}
.avatar h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.avatar-img {
  margin-top: 1em;
  width: 45%;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.avatar-default {
  width: 50%;
}

.btn-generate {
  position: relative;
  top: 0.7rem;
  padding: 0.2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--main--colorBackGroundElements);
  font-size: large;
  color: var(--main--colorForeground);
}
.btn-generate:hover {
  background-color: var(--main--colorHoverBtnAccept);
}
