<section class="loging">
  
  <article class="loging-slider">
    <h1 class="visually-hidden">Aplicación web glucontrol</h1>
    <img tabindex="0"
      class="logotipo"
      [src]="logoTexto"
      alt="glucontrol"
    />

    <login-info class="slider"></login-info>
  </article>
  
  <article class="loging-form">
    <img tabindex="0"
      class="hidden"
      [src]="logoTexto"
      alt="glucontrol"
    />
    <img [src]="logo" alt="" />
    <login-form></login-form>
  </article>
</section>
