<div class="persona">
  <div class="formulario">
    <div class="monigote">
      <img
        [src]="obtenerIMC()"
        class="monigote"
        alt="representacion del peso"
        [ngClass]="{
          bajo: altura < 150,
          medio: altura >= 150 && altura < 180,
          alto: altura >= 180
        }"
      />

      <span
        class="imc"
        [ngStyle]="{
          color: imcColor()
        }"
        >{{ imc }} IMC</span
      >
    </div>
    <section class="data">
      <div>
        <label for="altura">Altura</label>
        <input
          type="number"
          [(ngModel)]="altura"
          (ngModelChange)="enviarAltura()"
          name="altura"
          required
        />
      </div>
      <div>
        <label for="peso">Peso</label>
        <input
          type="number"
          [(ngModel)]="peso"
          (ngModelChange)="enviarPeso()"
          name="peso"
          required
        />
      </div>
    </section>
  </div>
</div>
