<div class="persona">

<!-- No hay sumario aquí-->
  
  <div class="formulario" >
    <div class="monigote">
      <img
        [src]="obtenerIMC()"
        class="monigote"
        alt="representacion del peso"
        [ngClass]="{
          bajo: alturaRecibida < 150,
          medio: alturaRecibida >= 150 && alturaRecibida < 180,
          alto: alturaRecibida >= 180
        }"
      />
      <span
        class="imc"
        [ngStyle]="{
          color: imcColor()
        }"
        >{{ imc }}</span
      >
    </div>

    <section class="data">
      <div>
        <label for="altura">Altura</label>
        <input
          type="number"
          [(ngModel)]="alturaRecibida"
          (ngModelChange)="enviarAltura()"
          name="altura"
          #altura="ngModel"
          title="Introduce tu altura en centímetros" 
          required
        />
        <span class="error-form" *ngIf="alturaRecibida == 0">
          <img src="/assets/alert_line.svg" alt="" /> La altura no puede ser igual a 0 y tiene que estar en centímetros
        </span>
      </div>
      <div>
        <label for="peso">Peso</label>
        <input
          type="number"
          [(ngModel)]="pesoRecibido"
          (ngModelChange)="enviarPeso()"
          name="peso"
          title="Introduce tu peso"
          required
          #peso="ngModel"
        />
        <span class="error-form" *ngIf="pesoRecibido == 0">
          <img src="/assets/alert_line.svg" alt="" />El peso no puede ser 0
        </span>
      </div>
    </section>
  </div>
</div>
