<div class="persona">
    <div class="monigote">
        <img [src]="obtenerIMC()" class='monigote' alt="representacion del peso" [ngClass]="{
            'bajo' : altura < 150,
            'medio': altura >= 150 && altura < 180,
            'alto': altura >= 180
        }">
        <span class='imc' [ngStyle]="{
            'color' : imcColor()
        }">{{imc}}</span>
    </div>


    <div class="formulario">

        <div class="mb-3">
            <label for="altura" class="form-label">Altura</label>
            <input type="number" class="form-control" [(ngModel)]="altura" (ngModelChange)="enviarAltura()" name="altura" required>

        </div>
        <div class="mb-3">
            <label for="peso" class="form-label">Peso</label>
            <input type="number" class="form-control" [(ngModel)]="peso" (ngModelChange)="enviarPeso()" name="peso" required>
        </div>


    </div>

</div>