<section class="recordar">
    <p>Para poder recuperar tu contraseña, verifica tu email</p>
    <form (ngSubmit)="recordarPass()">
      <div class="input">
        <label class="usuario-form" for="usuario-form">Correo Electronico</label>
        <input
          type="email"
          id="usuario-form"
          name="usuario"
          placeholder="ejemplo@ejemplo.com"
          [(ngModel)]="email"
        />
      </div>
      <div>
        <button class="btnInicio">Enviar </button> 
      </div>
      
    </form>
  </section>