.wrapper{
    width: 100%;
    
}

.formContainer{
    width: 70%;
    display : flex;
    justify-content: center;
    align-items: center;

    
}
.pillsContainer {
    width: 30%;
    display: flex;
}

.pill{
    width: 20px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid black;
    margin: 1em;
}

.pastilla{
    width: 20px;
    height: 20px;
    border-radius: 16px;
}