<div class="wrapper">
  <div class="logo"></div>
  <div class="formContainer">
    <form (ngSubmit)="registroUsuario()">
      <div>
        <label for="tipo">Tipo de diabetes</label>
        <select
          [(ngModel)]="datosRegistro.mediciones.tipoDiabetes.tipo"
          name="tipo"
          required
        >
          <option [value]="TipoDiabetes.tipo1">Tipo 1</option>
          <option [value]="TipoDiabetes.tipo2">Tipo 2</option>
          <option [value]="TipoDiabetes.gestacional">Gestacional</option>
        </select>
      </div>

      <div>
        <label for="medicacion">Medicación</label>
        <input
          type="text"
          [(ngModel)]="medicacionString"
          name="medicacion"
          required
        />
      </div>
      <div>
        <label for="insulina">¿Toma insulina?</label>
        <input
          type="checkbox"
          [(ngModel)]="datosRegistro.mediciones.tipoDiabetes.insulina"
          name="insulina"
          required
        />
      </div>
      <div>
        <label for="medicacion">Acepto recibir un mail de confirmacion</label>
        <input type="checkbox" [(ngModel)]="aceptar" name="aceptar" required />
      </div>
      <button type="submit" [disabled]="!aceptar">Completar Registro</button>
      <button (click)="retroceder.emit()">Volver Atrás</button>
    </form>

    <div class="pillsContainer">
      <!-- <div 
    *ngFor="let pill of datosRegistro.mediciones.tipoDiabetes.medicacion"
    [ngStyle]="{
      'background-color': pill.color,
      'transform':pill.rotacion,
    }"
    [ngClass]='pill.forma'></div> -->
    </div>
  </div>
</div>
