<div class="wrapper">


    <div class="info">
        <img src="assets/logo.png" alt="logo" class='logo'>
        <h2> Bienvenido a nuestra comunidad</h2>
        <p>Aqui podrás registrarte para que la aplicacion tome todas tus medidas</p>
    </div>

    <div class="form">
        <div [ngSwitch]='paso'>
            <register-paso1 *ngSwitchCase='1' (siguientePaso)='siguientePaso($event)'
                [datosRegistro]="datosRegistro"></register-paso1>
            <register-paso2 *ngSwitchCase='2' [datosRegistro]="datosRegistro"
                (siguientePaso)='siguientePaso($event)'></register-paso2>
            <register-paso3 *ngSwitchCase='3' [datosRegistro]="datosRegistro"
                (registrar)='registrar()'></register-paso3>

        </div>


    </div>