.main-register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 20em;
}

.form {
  width: 100%;
  height: 100%;
}

@media (width < 1004px) {
  .info {
    width: 50%;
  }
  .logo {
    width: 10rem;
  }
}
