.main-register {
  position: relative;
  left: 4rem;
  max-width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  color: var(--main--colorForeground);
}
.paso1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.form {
  width: 100%;
  height: 80%;
}

.logo {
  width: 90%;
  max-width: 20rem;
}

.info {
  width: 50%;
  padding: 2rem;
  text-align: center;
  margin-left: 4rem;
}

@media (width < 900px) {
  .main-register {
    margin-top: 8rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding: 2rem;
  }
  .paso1 {
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

@media (width < 400px) {
  .main-register {
    font-size: small;
  }

  .paso1 {
    margin-left: -8rem;
  }

  .info {
    width: 100%;
  }
}
