.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
   
   
}

.navbar{
    width: 25%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}