.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "navbar content content"
    "navbar content content"
    "navbar content content";

  overflow: hidden;
}

.navbar {
  grid-area: navbar;
  width: 100%;
  height: 100vh;
  border-top-right-radius: 4rem;
  border: 1px solid black;
  background-color: #b1f98f;
  position: sticky;
  top: -5rem;
}

.content {
  grid-row: 2 / 3;
  overflow-y: auto;
  grid-area: content;
  height: 100vh;
}
