<div class="contenedor">

  <span class="visually-hidden" aria-live="polite">
    Cuidado, debes rellenar todos los campos
  </span> 

  <div
    class="visually-hidden"
    role="alert"
    aria-live="polite"
    *ngIf="formulario.invalid && formulario.touched"
  >
    <h2>Errores cometidos:</h2>
    <p class="error-form" *ngIf="datosRegistro.mediciones.edad < 0">
      Introduce tu edad.
    </p>
  </div>

  <div class="formulario">
    <form #formulario="ngForm" (ngSubmit)="siguientePaso.emit(datosRegistro)">
      <section class="fieldset-datos">
        <div>
          <h1 aria-label="Registro">Registro</h1>
          <h2 aria-label="Paso 2 de 3. Datos físicos">Datos físicos</h2>
          <fieldset>
            <legend class="legend">Edad</legend>
            <label for="edad"></label>
            <input
              type="number"
              [(ngModel)]="datosRegistro.mediciones.edad"
              name="edad"
              required
            />
            <span class="error'form" *ngIf="datosRegistro.mediciones.edad < 0">
              <img lazyload="/assets/alert_line.svg" alt="error" />Debe poner una
              edad válida
            </span>
          </fieldset>
        </div>

        <section class="select-form">
          <fieldset>
            <legend class="legend">Sexo biológico</legend>
            <div>
              <label for="sexo"></label>
              <select
                [(ngModel)]="datosRegistro.mediciones.sexo"
                name="sexo"
                required
              >
                <option [value]="Sexo.hombre">Masculino</option>
                <option [value]="Sexo.mujer">Femenino</option>
              </select>
            </div>
          </fieldset>

          <fieldset>
            <legend class="legend">Actividad física</legend>
            <label for="actividad"></label>
            <select
              [(ngModel)]="datosRegistro.mediciones.actividad"
              name="actividad"
              required
            >
              <option [value]="Actividad.sedentario">Sedentario</option>
              <option [value]="Actividad.ligero">Ligero</option>
              <option [value]="Actividad.moderado">Moderado</option>
              <option [value]="Actividad.intenso">Intenso</option>
            </select>
          </fieldset>
        </section>

        <div class="persona">
          <h3>Tu índice de masa corporal:</h3>
          <app-calculadora-imc
            (emitirAltura)="setAltura($event)"
            (emitirPeso)="setPeso($event)"
          ></app-calculadora-imc>
        </div>

        <span class="error-form" *ngIf="datosRegistro.mediciones.edad">
          <img lazyload="/assets/alert_line.svg" alt="" class= />Debe rellenar todos los
          campos
        </span>
        <div class="botones">
          <button class="btn" [disabled]="formularioInvalido()">Siguiente</button>
          <button class="btn" (click)="retroceder.emit()">Volver Atrás</button>
        </div>
      </section>
    </form>
  </div>

  <div class='lectura-facil' tabindex="0">
    <h2><i class="bi bi-universal-access-circle "></i> Lectura fácil</h2>
    <p>
    Este es el segundo paso del formulario. Acuérdate de rellenar todos los campos.
    Tienes que poner algunos datos físicos que son necesarios:
    tu edad, tu sexo o género, la cantidad de ejercicio que haces,
    tu altura en centímetros y tu peso en kilogramos.
    Ésto calculará tu índice de masa corporal.
    </p>
  </div>
</div>
