.wrapper{
    width: 80vw;
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 0px 0px; 
    grid-template-areas:
    
    "avatar formulario"
    "calculadora medicacion"; 
}

.avatar{
    grid-area: avatar;
    position: relative; 
}

.bocadillo {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    
}

.bocadillo svg {
    position: relative;
    width: 70%; 
    height: auto; 
}

.contenido-bocadillo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-65%, -50%); 
    width: 80%; 
    text-align: center; 
}
.contenido-bocadillo h1{
    font-size: 100%;
}

.contenido-bocadillo button{
    margin:1em;
}


.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.calculadora h1{
    text-align: center;
}
.formulario{
    grid-area: formulario;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1em;
}

form{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.medicacion{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 247, 221);
    border-color: 1px solid black;
    border-radius: 2em;
    margin:1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.medicacion h1{
    text-align: center;
}
.medicacion .card{
    
    width: 20em;
    height: 20em;
    margin: 2em;
}
