<section class="wrapper">
  <button (click)="modalAcc()" class="accesibilidadButton">
    <i class="bi bi-universal-access-circle"></i
    ><span *ngIf="accModal">Cerrar</span>
  </button>

  <div class="triangle">
    <section class="avatar">
      <div class="contenido-bocadillo">
        <h1>¿No te gusta tu avatar? Genera uno nuevo</h1>
        <app-generador-avatar
          class="generarAvatar"
          (avatarGenerado)="avatarHandler($event)"
        ></app-generador-avatar>
      </div>
    </section>
  </div>

  <section class="datos">
    <h2>Datos de usuario</h2>
    <div class="formulario">
      <form #formulario="ngForm" (ngSubmit)="actualizarUsuario()">
        <section>
          <label for="nombre"
            >Nombre
            <span class="error-form" *ngIf="!nombre.valid && nombre.touched"
              >Nombre obligatorio.</span
            >
          </label>
          <div>
            <input
              id="nombre"
              type="nombre"
              [(ngModel)]="usuario.nombre"
              name="nombre"
              #nombre="ngModel"
              required
              [placeholder]="usuario.nombre"
            />
          </div>
        </section>

        <section>
          <label for="userName">Nombre de usuario</label>
          <div>
            <input
              id="userName"
              type="userName"
              [(ngModel)]="usuario.userName"
              name="userName"
              #userName="ngModel"
              required
              [placeholder]="usuario.userName"
            />
          </div>
          <span
            class="error-form"
            *ngIf="!validarUsuario(usuario.userName) && userName.touched"
          >
            El nombre de usuario debe tener entre 6 y 18 caracteres, incluyendo
            letras, números, guiones y guiones bajos.
          </span>
        </section>

        <section>
          <label for="apellido"
            >Primer Apellido
            <span class="error-form" *ngIf="!apellido.valid && apellido.touched"
              >Primer apellido obligatorio</span
            ></label
          >
          <div>
            <input
              id="apellido"
              type="apellido"
              [(ngModel)]="usuario.primerApellido"
              #apellido="ngModel"
              name="apellido"
              required
            />
          </div>
        </section>

        <section>
          <label for="apellido2"
            >Segundo Apellido
            <span
              class="error-form"
              *ngIf="apellido2.valid && apellido2.touched"
              >Segundo apellido obligatorio</span
            ></label
          >
          <div>
            <input
              id="apellido2"
              type="apellido2"
              [(ngModel)]="usuario.segundoApellido"
              name="apellido2"
              #apellido2="ngModel"
              required
            />
          </div>
        </section>

        <fieldset>
          <legend class="legend"></legend>
          <label for="edad">Edad</label>
          <div>
            <input
              type="number"
              [(ngModel)]="usuario.edad"
              name="edad"
              required
            />
          </div>
        </fieldset>

        <fieldset>
          <legend class="legend">Sexo biológico</legend>
          <div>
            <label for="sexo"></label>
            <select [(ngModel)]="usuario.sexo" name="sexo" required>
              <option [value]="Sexo.hombre">Masculino</option>
              <option [value]="Sexo.mujer">Femenino</option>
            </select>
          </div>
        </fieldset>

        <fieldset>
          <legend class="legend">Actividad física</legend>
          <label for="actividad"></label>
          <select [(ngModel)]="usuario.actividad" name="actividad" required>
            <option [value]="Actividad.sedentario">Sedentario</option>
            <option [value]="Actividad.ligero">Ligero</option>
            <option [value]="Actividad.moderado">Moderado</option>
            <option [value]="Actividad.intenso">Intenso</option>
          </select>
        </fieldset>

        <fieldset>
          <legend></legend>
          <label for="tipo">Tipo de diabetes</label>
          <div>
            <select [(ngModel)]="usuario.tipoDiabetes" name="tipo" required>
              <option [value]="TipoDiabetes.tipo1">Tipo 1</option>
              <option [value]="TipoDiabetes.tipo2">Tipo 2</option>
              <option [value]="TipoDiabetes.gestacional">Gestacional</option>
            </select>
          </div>
        </fieldset>

        <section class="check-box">
          <label for="insulina">¿Toma insulina?</label>
          <input
            type="checkbox"
            [(ngModel)]="usuario.insulina"
            name="insulina"
            required
          />
        </section>

        <button class="btn" id="seve">Guardar Cambios</button>
        <button class="btn" id="clean" (click)="reestablecerFormulario()">
          Reestablecer
        </button>
        <button class="btn" id="change-pass" (click)="abrirModalPass = true">
          Cambiar Contraseña
        </button>
      </form>
      <p>{{ error }}</p>
    </div>
  </section>

  <section class="calculadora">
    <h1>Calcula tu IMC</h1>
    <app-calculadora-imc
      (emitirAltura)="alturaHandler($event)"
      (emitirPeso)="pesoHandler($event)"
      [alturaRecibida]="usuario.altura"
      [pesoRecibido]="usuario.peso"
    ></app-calculadora-imc>
  </section>
</section>

<section class="fondoModal" *ngIf="abrirModalPass">
  <div class="modalPass">
    <h2>Cambiar contraseña</h2>
    <form (ngSubmit)="cambiarPass()">
      <label for="pass">Escribe tu nueva contraseña</label>
      <div class="inputs-form">
        <input
          class="password-form"
          [type]="changetype ? 'password' : 'text'"
          [(ngModel)]="pass"
          name="pass"
          id="pass"
        />
        <span class="eyes-pass" (click)="viewpass()"
          ><i [ngClass]="visible ? 'bi bi-eye' : 'bi bi-eye-slash'"></i
        ></span>
      </div>
      <label for="pass">Repitela de nuevo</label>
      <div class="inputs-form">
        <input
          class="password-form"
          [type]="changetype2 ? 'password' : 'text'"
          [(ngModel)]="repetirPass"
          name="repetirPass"
          id="repetirPass"
          #password="ngModel"
          aria-label="La contraseña debe tener al menos 8 caracteres, incluyendo una
        mayúscula, una minúscula, un número y un carácter especial."
          required
        />
        <span class="eyes-pass" (click)="viewpass2()"
          ><i [ngClass]="visible2 ? 'bi bi-eye' : 'bi bi-eye-slash'"></i
        ></span>
      </div>
      <section class="buttons">
        <button type="submit">Guardar</button>
        <button (click)="cerrarModal()">Cerrar</button>
      </section>
    </form>
    <p class="error-form" *ngIf="!password.valid && password.touched">
      La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula,
      una minúscula, un número y un carácter especial.
    </p>
    <p class="error-form">
      {{ errorPass }}
    </p>
    <p class="error-form">
      {{ errorPass }}
    </p>
    <p class="success-form">
      {{ successPass }}
    </p>
  </div>
</section>

<section class="accModal" *ngIf="accModal == true">
  <div class="fondoModal">
    <div class="lectura-facil" tabindex="0">
      <h2>Lectura fácil</h2>
      <p>
        Estos son los datos con los que te diste de alta. Puedes verlos y
        cambiarlos si no están bien.
      </p>
    </div>
  </div>
</section>
