:root {
  --main--colorBackGround: #68c2f1;
  --main--colorForeground: #002d52;
  --main--colorBackGroundElements: #effbff;
  --main--colorHoverBtnAccept: #80f9c0;
  --main--colorErrorOrDenegate: #940505;
}
@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: clamp(0.563rem, 2vw + 1rem, 2.25rem);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main--colorBackGround);
  font-family: "Open Sans";
}
