.form-container {
  margin-top: 5em;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3em;
}



.formulario {
  height: 100%;
  width: 100%;
}
.fieldset-datos {
  height: 100%;
  background-color: var(--main--colorBacGroundForm);
  padding: 2rem;
  border-radius: 1rem;
}
.formulario input {
  width: 100%;
  height: 40px;
}

.btnNext {
  position: relative;
  padding: 0.2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--main--colorBackGroundElements);
  font-size: large;
  color: var(--main--colorForeground);
}
.btnNext:hover {
  background-color: var(--main--colorHoverBtnAccept);
}

.avatar {
  position: relative;
  left: 2.7rem;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

@media (width < 900px) {
  .form-container {
    top: 10rem;
    left: -11rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
  }
  .fieldset-datos {
    margin-bottom: 4rem;
  }
  .avatar {
    order: -1;
    top: 2rem;
    left: -1.5rem;
    width: 50%;
  }
  .formulario {
    width: 80%;
  }
}
