.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-img {
  width: 50%;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.avatar-default {
  width: 70%;
}
