<article class="container-paso1">
  <section class="formulario">
    <form (ngSubmit)="siguientePaso.emit(datosRegistro)">
      <div>
        <label for="nombre"
          >Nombre
          <span class="error-form" *ngIf="!nombre.valid && nombre.touched"
            >Nombre obligatorio</span
          ></label
        >
        <input
          id="nombre"
          type="nombre"
          [(ngModel)]="datosRegistro.nombre"
          name="nombre"
          #nombre="ngModel"
          required
        />
      </div>
      <div>
        <label for="userName"
          >Nombre de usuario
          <span class="error-form" *ngIf="!userName.valid && userName.touched"
            >Nombre de usuario obligatorio</span
          ></label
        >
        <input
          id="userName"
          type="userName"
          [(ngModel)]="datosRegistro.username"
          name="userName"
          #userName="ngModel"
          required
        />
      </div>
      <div>
        <label for="apellido"
          >Primer Apellido
          <span class="error-form" *ngIf="!apellido.valid && apellido.touched"
            >Primer apellido obligatorio</span
          ></label
        >
        <input
          id="apellido"
          type="apellido"
          [(ngModel)]="datosRegistro.apellido"
          #apellido="ngModel"
          name="apellido"
          required
        />
      </div>
      <div>
        <label for="apellido2"
          >Segundo Apellido
          <span class="error-form" *ngIf="!apellido2.valid && apellido2.touched"
            >Segundo apellido obligatorio</span
          ></label
        >
        <input
          id="apellido2"
          type="apellido2"
          [(ngModel)]="datosRegistro.apellido2"
          name="apellido2"
          #apellido2="ngModel"
          required
        />
      </div>
      <div>
        <label for="email"
          >Email
          <span class="error-form" *ngIf="!email.valid && email.touched"
            >Email obligatorio</span
          ></label
        >
        <input
          id="email"
          type="email"
          [(ngModel)]="datosRegistro.email"
          name="email"
          #email="ngModel"
          required
        />
      </div>
      <div>
        <label for="password"
          >Contraseña
          <span class="error-form" *ngIf="!password.valid && password.touched"
            >Password obligatorio</span
          ></label
        >
        <input
          id="password"
          type="password"
          [(ngModel)]="datosRegistro.password"
          name="password"
          #password="ngModel"
          required
        />
      </div>
      <span
        class="error-form"
        *ngIf="
          password.touched &&
          password.invalid &&
          !validarPassword(datosRegistro.password)
        "
      >
        La contraseña debe tener al menos 8 caracteres, incluyendo una
        mayúscula, una minúscula, un número y un carácter especial.
      </span>
      <div>
        <label for="password2"
          >Repita su contraseña
          <span class="error-form" *ngIf="!password2.valid && password2.touched"
            >Password obligatorio</span
          ></label
        >
        <input
          id="password2"
          type="password"
          [(ngModel)]="datosRegistro.password2"
          name="password2"
          #password2="ngModel"
          required
        />
        <span
          *ngIf="
            password2.touched &&
            password2.value !== password.value &&
            password.valid
          "
        >
        </span>
      </div>
      <button class="btn-next" type="submit" [disabled]="formularioInvalido()">
        Siguiente
      </button>
      <span id="error-allform" *ngIf="formularioInvalido()">
        Debe rellenar todos los campos
      </span>
    </form>
  </section>
  <section class="avatar">
    <h2>Genera tu avatar</h2>
    <img
      *ngIf="datosRegistro.avatar; else defaultImage"
      class="avatar-img"
      [src]="datosRegistro.avatar"
      alt="Avatar"
    />
    <ng-template #defaultImage>
      <img class="avatar-default" [src]="defaultAvatar" alt="Default Avatar"
    /></ng-template>
    <button class="btn-generate" (click)="generarAvatar()">Generar</button>
  </section>
</article>
