<div class="container">
  <section>
    <div id="slider">
      <figure>
        <img
          src="https://pixabay.com/static/uploads/photo/2016/03/10/16/13/camera-1248682_960_720.jpg"
          alt=""
        />
        <img
          src="https://pixabay.com/static/uploads/photo/2015/04/07/14/27/camera-711025_960_720.jpg"
          alt=""
        />
        <img
          src="https://pixabay.com/static/uploads/photo/2014/09/23/20/13/photography-458050_960_720.jpg"
          alt=""
        />
        <img
          src="https://pixabay.com/static/uploads/photo/2014/09/23/20/13/photography-458050_960_720.jpg"
          alt=""
        />
      </figure>
    </div>
  </section>
</div>
