<div class="container">
  <section>
    <div id="slider">
      <figure>
        <img
          lazyload="assets/carrusel/1.png"
          alt="Imagen aplicación de versión móvil"
        />

        <img
        lazyload="assets/carrusel/2.png"
          alt="Ventana de mediciones de la aplicación"
        />
        <img
        lazyload="assets/carrusel/3.png"
          alt="Aplicación completamente accesible"
        />
        <img
        lazyload="assets/carrusel/4.png"
          alt="Vista del vademecum de la aplicación"
        />
      </figure>
    </div>
  </section>
</div>
