.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--main--colorBackGround);
  margin: 15% auto;
  padding: 20px;
  border: 1.5px solid #000;
  font-family: "Open Sans";
  font-size: larger;
  font-weight: 700;
}

.modal-content figure img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.modal-content p {
  text-align: center;
  text-wrap: wrap;
}
.modal-content button {
  position: relative;
  top: 0.7rem;
  padding: 0.2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--main--colorBackGroundElements);
  font-size: large;
  color: var(--main--colorForeground);
}
.modal-content button:hover {
  background-color: var(--main--colorHoverBtnAccept);
}
