<div class="wrapper">

    <div class="formulario">
        <!-- export interface IMediciones {
            id: number;
            fecha: Date;
            regimen: string;
            preMedicion: number;
            postMedicion: number;
            glucemiaCapilar: number;
            bolusComida: number;
            bolusCorrector: number;
            preDeporte: number;
            duranteDeporte: number;
            postDeporte: number;
            notas: string;
            idPersona: number;
        } -->

        <!-- <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" [(ngModel)]="fechaRecibida" (ngModelChange)="enviarFecha()" name="fecha" #fecha='ngModel' required>
            <span class="form-text text-danger" *ngIf="fechaRecibida == 0">
                La fecha no puede ser 0
            </span>
        </div>
        <div class ="mb-3">
            <label for="regimen"> Regimen</label> -->


        <!-- </div> -->

    </div>
    <div class="grafica"> </div>

    <div class="tabla"></div>
</div>