<section class="sectionLogin">
  <form (ngSubmit)="login()">
    <div class="input">
      <label class="usuario-form" for="usuario-form">Email address</label>
      <input
        type="email"
        id="usuario-form"
        class="form-control form-control-lg"
        name="usuario"
        [(ngModel)]="usuario"
      />
    </div>
    <div class="input">
      <label class="form-label" for="password-form">Password</label>
      <input
        type="password"
        id="password-form"
        class="form-control form-control-lg"
        name="password"
        [(ngModel)]="password"
      />
    </div>
    <button class="btnInicio">Iniciar Sesion</button>
    <div class="aForgetPass">
      <a href="#!">He olvidado la contraseña?</a>
    </div>
  </form>
</section>
